NEXT_PUBLIC_COMPANY_PHONE='+31 6 87402492'
NEXT_PUBLIC_COMPANY_EMAIL='swsklussenbedrijf@gmail.com'
NEXT_PUBLIC_COMPANY_ADDRESS='Entrada 700, 1114 AA Amsterdam-Duivendrecht, Netherlands'

NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_LOCALE_DETECTION=false
NEXT_PUBLIC_APP_NAME='SWS'
NEXT_PUBLIC_APP_TAGLINE='Slimme Werkoplossingen & Services'
NEXT_PUBLIC_APP_DESCRIPTION='Professional construction and renovation services in the Netherlands'
NEXT_PUBLIC_AUTHOR_NAME='SWS'

NEXT_PUBLIC_INSTAGRAM_URL='https://www.instagram.com/sws_nl/'
NEXT_PUBLIC_TIKTOK_URL='https://www.tiktok.com/@sws_nl'
NEXT_PUBLIC_EMAIL_URL='swsklussenbedrijf@gmail.com'

BOT_TOKEN=
SHEERLIN_ID=

NEXT_PUBLIC_GOOGLE_ID=
NEXT_PUBLIC_PLAUSIBLE_DOMAIN=
NEXT_PUBLIC_PLAUSIBLE_SRC=
NEXT_PUBLIC_GOOGLE_ADSENSE_ID=

RESEND_API_KEY=
RESEND_AUDIENCE_ID=
ADMIN_EMAIL=

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
UPSTASH_REDIS_RATE_LIMIT_PREFIX=sws:rate-limit
RATE_LIMIT_MAX_REQUESTS=10
RATE_LIMIT_WINDOW_SECONDS=86400

R2_PUBLIC_URL=

LOG_DIR=log